<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="KVANTORIUMEntities" connectionString="metadata=res://*/BDKVANT.csdl|res://*/BDKVANT.ssdl|res://*/BDKVANT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B0UFU5C\SQLEXPRESS;initial catalog=KVANTORIUM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KVANTORIUMEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B0UFU5C\SQLEXPRESS;initial catalog=KVANTORIUM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KVANTORIUMEntities2" connectionString="metadata=res://*/MODEL.csdl|res://*/MODEL.ssdl|res://*/MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B0UFU5C\SQLEXPRESS;initial catalog=KVANTORIUM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>